<div class="content" id="index">


<%=link_to "", new_branch_path,:style =>"background-image:url(/images/createbranch.jpg)" %>
<%=link_to "", branches_path,:style =>"background-image:url(/images/editbranch.jpg)" %>
<%=link_to "", branches_path,:style =>"background-image:url(/images/showbranches.jpg)" %>

    </div>