
<div class="container">
<h2 align="center">
    Type your Email  below to reset your password
</h2>

  <div class="row">
    <div class="span5">
      <p></p>
    </div>

    <div class="span5">

      <%= render 'forgot_password_form' %>
    </div>

    <div class="span5">
      <p></p>
    </div>
  </div>
</div>
