<script type="text/javascript ">
    $(function ()
    { $("#firstname").tooltip()
        $("#lastname").tooltip()
        $("#mobile").tooltip()
        $("#level").tooltip()
        $("#sex").tooltip()
        $("#email").tooltip()
        $("#doj").tooltip()
        $("#employee").tooltip()


    });
</script>
<%= form_for @employee, :url => {:action =>"register"} do |f|%>


    <div class="clearfix">
      <label>Avaliable Courses</label>
      <div class="input">

        <%=  f.select :id, Course.all.select{|x| not @employee.courses.include?(x)}.collect{|x|[x.name,x.id]} %>
        <a href="#" id="employee" rel="tooltip" data-original-title="Name as on Official document">

        </a>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Register",:class=> "btn btn-primary" %>
      <%= link_to 'Cancel', employees_dashboard_path,:class => "btn" %>
    </div>


<% end %>
