<div class="row-fluid" >

  
  <% if current_user.admin? %>
      <%= render "sidebar" %>
      <% else %>
      <%= render "employeesidebar" %>
      <% end %>
    <%= render 'dashboardpanel' %>

</div>