
<div class="row-fluid" >
   <% if logged_in? and current_user.admin? %>
  <%= render "sidebar" %>
      <% else %>
      <%=  render "employees/employeesidebar" %>
      <% end %>

<%= render 'dashboardpanel' %>
</div>