<div class="row-fluid" >

  <%= render "employeesidebar" %>


  <div class="span9">
    <%= form_for @employee, :url => {:action =>"register"} do |f|%>



    <div class="hero-unit">
      <%= render 'courseregistration'  %>
    </div>



    </div>
    <% end %>



  </div>

</div>