<fieldset>
  <div class="clearfix">
    <label>User Email:</label>
    <div class="input">
      <%=f.text_field :email %>
    </div>
  </div>

  <div class="clearfix">
    <label>User Email:</label>
    <div class="input">
      <%=f.text_field :email %>
    </div>
  </div>

  <div class="clearfix">
    <label>User Email:</label>
    <div class="input">
      <%=f.text_field :email %>
    </div>
  </div>






</fieldset>
