<div class="span3">
  <div class="well sidebar nav">
    <ul class="nav nav-list">
      <li class="nav header"></li>

      <li class="nav-header">Welcome to Course+</li>

      <li><p>Please enter Your Access Code</p></li>
      <li><p>Then fill in the other Details</p></li>
      <li><p>Check Your email</p></li>
     <li> ... and you done</li>

    </ul>
  </div>
</div>
