<div class="span3">
  <div class="well sidebar nav">
    <ul class="nav nav-list">
      <li class="nav header"></li>

      <li class="nav-header"> SO Why Register?</li>
      <li><a href="#">Ankit it's 03:34 no Content mail 1</a></li>
      <li><a href="#">Ankit it's 03:34 no Content mail 2</a></li>
      <li><a href="#">Ankit it's 03:34 no Content mail 3</a></li>
      <li class="nav-header">Step 1</li>
      <li><a href="#">Ankit it's 03:34 no Content mail 1</a></li>
      <li><a href="#">Ankit it's 03:34 no Content mail 2</a></li>
      <li><a href="#">Ankit it's 03:34 no Content mail 3 </a></li>

    </ul>
  </div>
</div>
