<div class="span3">
  <div class="well sidebar nav">
    <ul class="nav nav-list">
      <li class="nav header"></li>
      <li class= ><%=link_to "Home", users_path%></li>
      <li class="nav-header"> Registered Courses</li>
      <li><a href="#">Course 1</a></li>
      <li><a href="#">Course 2</a></li>
      <li><a href="#">Course 3</a></li>
      <li class="nav-header">Upcoming Courses</li>
      <li><a href="#">Course 1</a></li>
      <li><a href="#">Course 2</a></li>
      <li><a href="#">Course 3 </a></li>
      <li class="nav-header">User ?</li>
      <li><a href="#">User </a></li>
      <li><a href="#">User</a></li>
      <li><a href="#">User</a></li>
    </ul>
  </div>
</div>
