<div class="container">
  <div class="hero-unit">
    <h1>Contact us</h1>
    <p>Course+ is a company offering online courses for people to learn more about the professional business techniques offering various courses in different fields ranging from Academics to other types of Business classes. We are locally based in the United Arab Emirates, Jebel Ali, Knowledge Village, block 1.</p>
    <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
  </div>
  <div class="row">
    <div class="span5">Ankit where is ContentAnkit where is Content  Ankit where is Content
      <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>

    <div class="span5">Ankit where is Content    Ankit where is Content  Ankit where is Content
      <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>

    <div class="span5">Ankit where is Content Ankit where is Content Ankit where is Content
      <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>
  </div>


</div>
