<div class="container">
  <div class="hero-unit">
    <p>Every course for Evet</p>
  </div>
  <div class="row">
    <div class="span5">Ankit where is ContentAnkit where is Content  Ankit where is Content
      <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>

    <div class="span5">Ankit where is Content    Ankit where is Content  Ankit where is Content
      <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>

    <div class="span5">Ankit where is Content Ankit where is Content Ankit where is Content
      <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>
  </div>
</div>
