<div class="container">
  <div class="hero-unit">
    <h1>Who We are</h1>
    <p>CourseX is a commercial company offering online courses for people having the urge to learn about the various business techniques and other various fields i.e. Academics/Project Management and the Risks Involved. We are based in the United Arab Emirates. CourseX consists of 40 Employees including the faculties who are all professionally trained in their respective fields.  </p>
    <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
  </div>
  <div class="row">
    <div class="span5">Ankit where is ContentAnkit where is Content  Ankit where is Content
      <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>

    <div class="span5">Ankit where is Content    Ankit where is Content  Ankit where is Content
      <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>

    <div class="span5">Ankit where is Content Ankit where is Content Ankit where is Content
      <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>
  </div>
</div>
