<div class="content" id="index">


<%=link_to "", new_course_path,:style =>"background-image:url(/images/createcourse.jpg)" %>
<%=link_to "", courses_path,:style =>"background-image:url(/images/editcourse.jpg)" %>
<%=link_to "", courses_path,:style =>"background-image:url(/images/showcourses.jpg)" %>
    </div>