<div class="span3">
  <div class="well sidebar nav">
    <ul class="nav nav-list ">
      <li class= "<%= is_active?("dashboard") %>" ></li>
      <li class="nav-header"> Summary </li>
      <li class= "<%= is_active?("register") %>" ></li>

      <li class= "<%= is_active?("show" ) %>" ></li>



    </ul>
  </div>
</div>
