<script type="text/javascript" charset="utf-8">
    $(function () {
        new Highcharts.Chart({
            chart: { renderTo: 'orders_chart' },
            type: 'bar',
            title: { text: 'Trainer Overview  ' },
            xAxis: { type: 'datetime' },
            yAxis: {
                title: { text: 'Trainers'}
            },
            series: [{
                name:"Trainers Pattern",
                data: [1, 2, 5, 7, 3]
            }] ,
            series: [{
                name:"Trainer Pattern",
                data: [1, 2, 5, 7, 3]
            }]
        });
    });
</script>
<div class="row-fluid" >
    <%  if current_user.admin? %>
  <%= render "sidebar" %>
      <% else %>
   <%= render 'trainersidebar' %>
       <% end %>
 <%= render 'dashboardpanel'  %>

</div>