<div id="footer">
  <ul>
    <li class="first">
      <ul>
        <li><a >Home</a></li>
        <li><a >About Us</a></li>
        <li><a >Careers</a></li>

        <li><a >Blog</a></li>
        <li><a >Contact Us</a></li>
      </ul>
    </li>
    <li>

    </li>
    <li class="last">
      <span> &copy; Tentacles Incorporated 2011 &copy;</span>
    </li>
  </ul>

</div>